.header {

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__text {
		width: 470px;
	}

	&__title {
		font-weight: 700;
		font-size: 54px;
		line-height: 147%;
		letter-spacing: 0.8px;
		color: #323232;
		margin-bottom: 25px;
		margin-right: -160px;
		position: relative;
		z-index: 2;
	}

	&__subtitle {
		font-size: 16px;
		line-height: 168.75%;
		letter-spacing: 1.15px;
		color: #323232;
	}

	&__img {
	}
	&__form {
		box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
		border-radius: 29px;
		height: 58px;
		margin-top: 42px;
	}
	&__form-active {
		box-shadow: 0px 17px 42px rgba(246, 123, 8, 0.12);
	}
	&__form-label {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 60px;
		height: 100%;
		position: relative;
		flex-grow: 1;

		&:before {
			content: "";
			display: block;
			width: 24px;
			height: 19px;
			background-image: url('../../img/header/2.svg');
			position: absolute;
			top: 20px;
			left: 20px;
		}
	}
	
	&__form-input {
		flex-grow: 1;
		margin-right: 10px;

		&::placeholder {
			color: #BBBBBB;
		}
	}
	
	&__form-button {
	}
}
.button {
	display: inline-block;
	height: 58px;
	padding: 0 37px;
	border-radius: 29px;
	background-color: $accent-color;
	
	font-weight: 700px;
	color: #fff;
	line-height: 58px;
	transition: 0.3s ease-in;

	&:hover {
		background-color: $accent-color-hover;
	}
}
