@media (max-width: 967px) {
	.header__title {
		font-size: 44px;
		margin-bottom: 20px;
		margin-right: -150px;
	}
	.header__subtitle {
		font-size: 15px;
	}
	.header__form {
		height: 58px;
		margin-top: 30px;
	}
}