.nav-bar {
	padding-top: 35px;
	padding-bottom: 33px;

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		display: flex;
		align-self: center;
	}

	&__text {
		margin-left: 4px;
		font-weight: 700;
		font-size: 24px;
		line-height: 150%;
		color: #323232;
	}
	ul {
		display: flex;
		flex-wrap: wrap;
	}
	li:not(:last-child) {
		margin-right: 42px;
	}
	a:hover {
		color: #F78434;
	}
	.active {
		font-weight: 700;
		color: #F78434;
	}
}