body {
	font-family: 'Poppins', sans-serif;
}
.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;

	&__fluid {
		max-width: unset;
		width: 100%;
		padding: 0;
	}
}
// VARIABLES
$accent-color: #F78434;
$accent-color-hover: #ef690a;